*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{

  /*PRIMARY*/
  --clr-primary : hsl(172,67%,45%);
  /*NEUTRAL*/
  --dark-cyan : hsl(185,14%,43%);
--dark-grayish-cyan: hsl(186, 14%, 43%);
--dark-grayish-cyan2: hsl(184, 14%, 56%);
--light-grayish-cyan: hsl(185, 41%, 84%);
--light-grayish-cyan2: hsl(189, 41%, 97%);
--white: hsl(0, 0%, 100%);
--dark-green : #00494D;


/*FORM INPUTS SIZE*/

--fs-inputs : 24px;
--fw-reg : 400;
--fw-bold : 700;
}


body {
  min-height: 100vh;
  width: 100vw;
  background-color: var(--light-grayish-cyan) ;
  font-family: 'Space Mono', monospace;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#root {
  width:100%;
  overflow-x: hidden;
}
form {
  width: 50%;
}
input {
  font-size:var(--fs-inputs);
  outline: none;
  border :none;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer ;
    -webkit-appearance: none;
  margin: 0;

}

.btn {
  text-transform: uppercase;
  font-weight: var(--fw-bold);
}

.btn:hover{
  background-color: var(--clr-primary);
  color: var(--dark-cyan) ;
}



/*STYLE RADIO INPUTS LIKE BUTTONS*/

.radio-input {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.radio-input input[type=radio]{
  display: none;
}

.radio-input label
{
  font-size:var(--fs-inputs);
  width: 100%;
  font-weight: var(--fw-bold);
  display: inline-block;
	cursor: pointer;
  text-align: center;
	line-height: 34px;
  border-radius: 5px;
	user-select: none;
  background-color: var(--dark-green);
  color: var(--white);
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.custom-input{
  font-family: 'Space Mono', monospace;
  font-weight: var(--fw-bold);
  display: inline-block;
width: 100%;
  border-radius: 5px;
}
.custom-input:focus {
  color: var(--dark-green);
}

.radio-input labe:active{
  transform: scale(0.98);
}

.radio-container{
  margin: 1em 0;
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 10px;
}

/* Checked */
.radio-input .input-selected {
  background-color: var(--clr-primary);
}
 
/* Hover */
.radio-input label:hover {
  background-color:var(--clr-primary);
	color: var(--dark-green);
  transform: scale(1.1);
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input:focus{
    outline : 2px solid var(--clr-primary);
}

.icon-wrapper {
  position: relative;
}
.input-icon {
  position: absolute;
  top: 40%;
  bottom:0;
  left: 10px;
  z-index: 2;
}

.input-grey {
  width:100%;
  text-align: right;
  background-color: var(--light-grayish-cyan);
  font-family: 'Space Mono', monospace;
  font-weight: var(--fw-bold);
  color: var(--dark-green);
}

.calculator {
  margin: 0 auto;
  width: 90%;
  max-width: 900px;
  background-color: var(--white);
  border-radius: 1em;
  display: flex;
  flex-direction: row;
  padding: 2em;
}


.results {
  margin-left: 1em;
  width: 50%;
  background-color: var(--dark-green);
  border-radius: 25px;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.result-value{
  width: 90%;
  margin: 1em 0;
  display:grid;
  font-weight: var(--fw-bold);
  font-size: 1.2rem;
  grid-template-areas: 
  "text value "
  "sub  value";
}

.result-value .text {
  color: var(--white);
  grid-area: text;
}

.result-value .sub {
  color:var(--dark-grayish-cyan);
  grid-area: sub;
}

.result-value .value {
  color: var(--clr-primary);
  font-size: var(--fs-inputs);
  grid-area: value;
  margin-left: auto;
}

.btn-reset {
  cursor: pointer;
  background-color: var(--clr-primary);
  border: none;
  color: var(--dark-green);
  text-transform: uppercase;
  font-size: 1.2rem;
  border-radius: 5px;
  font-weight: var(--fw-bold);
  margin-top: auto;
width: 90%;
padding: 10px 0;
}

.btn-reset:hover{
  background-color: var(--light-grayish-cyan);
}


 .hide-element {
    border: 0;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; 
}

@media (max-width: 600px){
  .calculator{
flex-direction: column;
  }
  form {
    width: 100%;
  }

  .radio-container {
grid-template-columns: repeat(auto-fit,minmax(50px,1fr));
  }

  .results {
    margin: 0;
    margin-top:2em;
    width: 100%;
  }
  .custom-input {
    font-size: 16px;
  }
}
.error-text {
  display: inline;
  color: firebrick;
  margin-left: 25%;
}

.error-input{
  border: 2px solid firebrick;
}

.error-input:focus{
outline: none;
  border: 2px solid firebrick;
}


