$body-color: slateblue;
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);

/* Text */
$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 12px;
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  color: $body-color;
  background:
    linear-gradient(
      180deg,
      hsl(273, 75%, 66%) 0%,
      hsl(240, 73%, 65%) 100%
    );
  height: 100vh;
  width: 100vw;
  padding: 3.5em 2em 3em 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

main {
  text-align: center;
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2em;
  position: relative;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

main .container-questions h1 {
  text-align: center;
  color: #000;
  font-weight: 700;
  font-size: 3rem;
  margin-top: 25%;
}

.container-questions {
  width: 100%;
  padding: 1em 1.7em 4em;
  text-align: left;
  color: $dark-grayish-blue;
}

.question {
  border-bottom: 1px solid hsl(240, 5%, 91%);
  padding: 0.8em 0;
  position: relative;
  cursor: pointer;
}

.accordion {
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
  margin: 0.5em 0;
  cursor: pointer;
  outline: none;
  color: $dark-grayish-blue;
  transition: color 250ms ease-in;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
}

.accordion:active {
  color: $dark-grayish-blue;
}

.accordion:hover {
  color: $soft-red;
}

.question::after {
  content: url('../assets/images/icon-arrow-down.svg');
  position: absolute;
  right: 13px;
  top: 20px;
  transition: transform 0.5s ease-in-out;
}

.question .response {
  line-height: 1.7;
  display: none;
}

img.illustration-container,
img.shadow {
  position: absolute;
  top: -80px;
  left: 22%;
  width: 50%;
  margin-top: 2em;
}

img.shadow {
  top: -10px;
  left: 25%;
}

.question.show .response {
  display: block;
  animation: fadeIn 1s;
}

.question.show::after {
  transform: rotate(180deg);
}

.question.show .accordion {
  font-weight: 700;
  color: $very-dark-desaturated-blue;
}

img.box {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes boxMove {
  from {
    margin-top: 12vh;
  }

  50% {
    margin-top: 7vh;
  }

  to {
    margin-top: 12vh;
  }
}

@media (min-width: 650px) {
  main {
    flex-direction: row;
    justify-content: flex-end;
    padding: 4em 4em 4em 0;
    width: 80vw;
    height: 90%;
    max-height: 500px;
    overflow: hidden;
  }

  .container-questions {
    width: 55%;
    padding: 0;
  }

  .container-questions .accordion {
    font-size: 1.3rem;
  }

  .container-questions .response {
    font-size: 1.1rem;
  }

  main .container-questions h1 {
    font-size: 2.4rem;
    text-align: left;
    margin: 0;
    margin-bottom: 0.8em;
  }

  img.illustration-container {
    content: url('../assets/images/illustration-woman-online-desktop.svg');
    width: 40%;
    max-width: 800px;
    margin: 0;
    margin-top: 27vh;
    margin-left: -22vw;
  }

  img.box {
    position: absolute;
    display: block;
    overflow: visible;
    z-index: 2;
    margin-top: 12vh;
    margin-left: -81vw;
    height: 20%;
  }

  img.box.move {
    animation: boxMove 1s infinite;
    transition: animation 1s ease-in-out;
  }

  main img.shadow {
    content: url('../assets/images/bg-pattern-desktop.svg');
    width: 40%;
    max-width: 1000px;
    margin-top: 8%;
    margin-left: -31%;
  }
}
