@import './colors.scss';
@import './typography.scss';

* {
  margin: 0;
  padding: 0;
}

// Layout Mobile

.card {
  margin: 2em 1em;
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  overflow: hidden;

  .card__section {
    padding: 3em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;

    .card__svg {
      margin: 2em 0;
      margin-top: 0;
    }

    .card__btn {
      width: fit-content;
      border: none;
      display: inline-block;
      padding: 1em 2em;
      border-radius: 4em;
      background-color: $Very-light-gray;
    }

    &:nth-child(1) {
      background-color: $Bright-orange;

      .card__btn {
        color: $Bright-orange;
      }
    }

    &:nth-child(2) {
      background-color: $Dark-cyan;

      .card__btn {
        color: $Dark-cyan;
      }
    }

    &:nth-child(3) {
      background-color: $Very-dark-cyan;

      .card__btn {
        color: $Very-dark-cyan;
      }
    }
  }
}

// Layout Desktop

@media (min-width: 600px) {
  body {
    background-color: pink;
  }

  .card {
    flex-direction: row;
    border-radius: 0.3em;
  }
}
