// *-----------------------*\
//  $COLORS
// *-----------------------*\

// $Primary

$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

// $Font-Color

$color-dark-primary: hsl(234, 12%, 34%);
$color-grayish-secondary: hsl(229, 6%, 66%);
$color-white: hsl(0, 0%, 98%);

// $FONT

$ff-primary: 'Poppins', sans-serif;

$fw-light: 200;
$fw-reg: 400;
$fw-bold: 600;

$fs-body: 15px;

$bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
  0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
