* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 300;
}

li {
  list-style: none;
}

p {
  font-weight: 300;
  font-size: 1.3rem;
}

:root {
  --background-gradient-intro: linear-gradient(
    180deg,
    hsl(13, 100%, 72%) 0%,
    hsl(353, 100%, 62%) 100%
  );
  --background-gradient-body: linear-gradient(
    180deg,
    hsl(237, 17%, 21%) 0%,
    hsl(237, 23%, 32%) 100%
  );
  --title-section-body: hsl(207, 13%, 34%);
  --heading-section: hsl(208, 49%, 24%);
  --cta-text: hsl(356, 100%, 66%);
}

body {
  font-family: 'Overpass', sans-serif;
}

header {
  padding: 1em;
  background-image: url('/images/bg-pattern-intro.svg'),
    var(--background-gradient-intro);
  background-position: center;
  background-size: 500%;
  background-blend-mode: overlay;
  height: 600px;
  border-bottom-left-radius: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.nav__desktop.flex-wrapper {
  display: none;
}

.visible.nav__mobile {
  transform: translateX(0%);
}
/* Nav Movile */
.nav__mobile {
  font-family: 'Ubuntu', sans-serif;
  width: 80%;
  height: 45%;
  position: absolute;
  color: #000;
  background-color: #ffffff;
  border-radius: 0.5em;
  padding: 2em;
  transform: translateX(-200%);
  transition: transform 0.3s ease-in-out;
}

#icon-hamburger.close {
  background-image: url('./images/icon-close.svg');
}

.nav__mobile.flex-wrapper {
  justify-content: space-between;
}

.nav__mobile .header-list {
  font-style: 700;
  font-size: 1.8rem;
  margin-top: 0.5em;
}

.header-list li {
  cursor: pointer;
  position: relative;
  margin: 1em 0;
  text-transform: capitalize;
}

.hidden {
  z-index: -1;
}

.header-list li:hover {
  text-decoration: underline;
}

.nav__mobile .header-list > li::after {
  content: url('./images/icon-arrow-dark.svg');
  width: 1rem;
  position: absolute;
  top: -5px;
  right: -15px;
}

.login {
  font-size: 2rem;
  border-top: 1px solid #25252d;
}

.login li {
  cursor: pointer;
  margin-top: 1.3em;
}

.login .btn.sign-up {
  padding: 1em 3em;
  background: var(--background-gradient-intro);
}

.login .btn {
  color: #000;
  background-color: #d4d4d4;
  padding: 1em 3em;
}

.login li:hover {
  border: 1px solid #25252d;
}

.header-list ul.show {
  display: block;
  position: absolute;
}

.header-list ul {
  background-color: #eeeeef;
  right: 0;
  left: 0;
  margin: 2em;
  margin-top: 0;
  border-radius: 0.3em;
}

.header-list ul > li {
  color: #000;
  z-index: 1;
  font-size: 1.6rem;
  font-weight: lighter;
}

/* Nav Movile END*/

.header-list ul {
  display: none;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  margin: 3em 1em;
}

.icon-hamburger {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 3em 1em;
}

.container-btns {
  margin-top: 2em;
  display: flex;
}

.btn {
  outline: none;
  cursor: pointer;
  margin: 0 0.5em;
  font-size: 1.3rem;
  font-weight: 900;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 0.5em 1em;
  border-radius: 50px;
}
.btn.btn-start {
  background-color: #fff;
  color: black;
}
.btn:hover {
  color: #000;
  border-color: var(--background-gradient-intro);
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main img {
  margin: 0;
  max-width: 350px;
  width: 100%;
}

main {
  line-height: 1.6;
  text-align: center;
}

h3 {
  color: var(--heading-section);
}

.main__titles {
  margin: 1.5em 0;
  font-size: 2rem;
  color: var(--heading-section);
}

.main__section {
  margin: 2em 0;
  padding: 0 1rem;
  color: var(--title-section-body);
}

.main__section:nth-child(1) {
  margin-bottom: 10em;
}

.main__section:nth-child(2) {
  background: url('./images/bg-pattern-circles.svg') no-repeat,
    var(--background-gradient-body);
  background-position: center bottom;
  padding: 0 1.5em;
  border-bottom-left-radius: 5em;
  border-top-right-radius: 5em;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__section:nth-child(2) h3 {
  font-size: 3rem;
  margin: 0;
  margin-top: 5em;
  margin-bottom: 1em;
  color: #fff;
}

.main__section:nth-child(2) p {
  font-size: 1.5rem;
}

.main__section:nth-child(2) img {
  position: absolute;
  transform: translateY(-40%);
}

.main__section:nth-child(2) p {
  margin-bottom: 4em;
}

footer {
  margin-top: 2em;
  font-size: 1rem;
  color: #fff;
  background-color: #25252d;
  border-top-right-radius: 3.5em;
  padding: 0 4em;
  padding-bottom: 3em;
  text-align: center;
}

footer li {
  cursor: pointer;
  font-size: 1.3rem;
}

.footer__logo {
  margin: 3.5em 0;
}

.footer__ul li {
  margin: 2em 0;
}

.footer__ul > li {
  margin-bottom: 0;
  font-size: 1.8rem;
  font-weight: 700;
}

.footer__ul--lists li {
  margin: 0.5em 0;
}

.footer__ul--lists .footer__li-heading {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1em 0;
}

/* Desktop */

@media (min-width: 1440px) {
  header {
    background: url('/images/bg-pattern-intro.svg'),
      linear-gradient(90deg, hsl(13, 100%, 72%) 45%, hsl(353, 100%, 64%) 100%);
    background-position: center;
    background-size: 200%;
    justify-content: space-between;
  }

  .logo {
    margin-top: 2.9em;
    margin-left: 3em;
  }
  .icon-hamburger,
  .nav__mobile.flex-wrapper {
    display: none;
  }

  .nav__desktop.flex-wrapper {
    display: flex;
    margin-left: 6em;
    margin-top: 0.5em;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
  }
  .nav__desktop .header-list {
    display: flex;
    flex-direction: row;
  }

  .nav__desktop .header-list > li {
    margin-right: 2em;
  }

  .nav__desktop .header-list > li::after {
    content: url('./images/icon-arrow-light.svg');
    width: 2rem;
    position: absolute;
    top: -5px;
    right: -25px;
  }

  .nav__desktop .login {
    margin: 0;
    border: none;
    display: flex;
  }

  .nav__desktop .login .btn {
    background: none;
    color: #fff;
    border: none;
    margin-top: 0;
    font-size: 1.2rem;
    padding: 0.5em 2.5em;
  }
  .nav__desktop .login .btn.sign-up {
    background: none;
    background-color: #eeeeef;
    color: hsl(353, 100%, 62%);
  }


  .main-header-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10em;
  }

  /* BODY DESKTOP  */

  body{
    overflow-x: hidden;
  }

  main {
    position: relative;
  }

  .main-title {
    z-index: 1;
    text-align: center;
    font-size: 3rem;
    margin-top: 2em;
  }

  .main.flex-wrapper {
    flex-direction: column;
  }

  .main__section {
  }

  .main__section > .main__titles {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  .main__section .section-article {
    display: flex;
  }

  .main__section .section__content {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin-left: 10em;
  }

  /* img change for desktop version */

  main img {
    max-width: 2000px;
  }

  .main__section:nth-child(1) .section-article {
    position: relative;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .main__section:nth-child(1) img {
    position: absolute;
    width: 60%;
    right: -10%;
    top: -25%;
  }

  .section__content > h3 {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .main__section:nth-child(1) {
    /* padding: 0 10em; */
    padding-bottom: 0;
  }

  .main__section:nth-child(2) {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 7em 0;
  }
  .main__section:nth-child(2) h3 {
    color: #fff;
    margin: 0;
    margin-bottom: 1em;
  }

  .main__section:nth-child(2) .section__content p {
    margin: 0;
  }
  .main__section:nth-child(2) .section__content {
    margin-right: 10em;
  }
  .main__section:nth-child(2) img {
    box-sizing: content-box;
    width: 35%;
    left: 5%;
    transform: translate(0);
  }

  .main__section {
    margin: 8em 0;
  }

  .main__section:nth-child(3) .section__content {
    margin: 0;
    margin-right: 5em;
  }
  
  .main__section:nth-child(3) .section-article {
    width: 100%;
    position: relative;
    justify-content: flex-end;
  }

  .main__section:nth-child(3) img {
    position: absolute;
    width: 1300px;
    left: -20%;
    top: -25%;
  }

  footer.flex-wrapper {
    margin-top: 15em;
    flex-direction: row;
    align-items: flex-start;
    padding: 5em 0.5em;
  }

  .footer__logo {
    margin: 5em;
    margin-top: 0;
  }
  .footer__ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: left;
  }
}
