.container {
  display: grid;
  column-gap: 2em;
  @include for-tablet-portrait-up {
    grid-template-columns: 1fr;
  }
  @include for-desktop-up {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
