// =========================================
//  variables
// =========================================

// primary 
$clr-soft-red : hsl(7,99%,70%);
$clr-yellow : hsl(51,100%,49%);
// grapic design text
$clr-dark-desaturated-cyan : hsl(167, 40%, 24%);
// potography text
$clr-dark-blue : hsl(198, 62%, 26%);
// footer
$clr-dark-moderate-cyan : hsl(168, 34%, 41%);


// neutral
$clr-very-dark-desaturated-blue: hsl(212, 27%, 19%);
$clr-very-dark-grayish-blue: hsl(213, 9%, 39%);
$clr-dark-grayish-blue: hsl(232, 10%, 55%);
$clr-grayish-blue:hsl(210, 4%, 67%);
$clr-white: hsl(0, 0%, 100%);

// Font Family
$ff-title : 'Fraunces', serif;
$ff-text : 'Barlow', sans-serif;
//
$fw-regular : 600 ;
$fw-semi-bold : 700;
$fw-bold: 900;
